.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: var(--default-box-shadow);
    background: white;
}

.input{
    width: 100%;
    padding: 5px;
    border: none;
    outline: none;
    font-size: 16px;
}

.input::placeholder{
    color: var(--defaultColor);
    font-size: 16px;
}

.options_wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.options_wrapper_modal{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
}

.options_container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.calendar_wrapper, .priority_wrapper, .category_wrapepr{
    position: relative;
    display: flex;
    align-items: center;
}

.modal_calendar{
    position: absolute;
    top: -125px;
    left: 25px;
    background: white;
    box-shadow: var(--default-box-shadow);
    border-radius: 8px;
    z-index: 99;
}

.calendar, .priority_modal, .category_dropdown{
    position: absolute;
    top: 25px;
    left: 25px;
    background: white;
    box-shadow: var(--default-box-shadow);
    border-radius: 8px;
    z-index: 99;
}

.options_icon_container , .category_options_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected_wrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    justify-content: center;
    align-items: center;
}

.selected_wrapper span{
    font-size: 12px;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected_wrapper button{
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
    padding: 2px 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    border-radius: 8px;
}

.selected_wrapper button:hover{
    background: gainsboro;
}

.controll_buttons_wrapper{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.controll_buttons_wrapper_modal{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.priority_btn{
    border: none;
    background: none;
    min-width: fit-content;
    outline: none;
    cursor: pointer;
}

.popover_position{
    top: 40px;
    left: -75px;
}

@media screen and (max-width: 980px) {
    .options_wrapper{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    .category_dropdown{
        left: -95px;
    }

    .priority_modal{
        left: -112px;
    }
}

@media screen and (max-width: 525px) {
    .calendar, .modal_calendar{
        left: -20px;
    }
}
