.dropdown_container{
    display: none;
}

.active_dropdown{
    position: absolute;
    top: 40px;
    left: 0;
    padding: 8px 4px;
    border-radius: 12px;
    box-shadow: var(--default-box-shadow);
    display: block;
    background: var(--modal-bg);
    z-index: 100;
    width: max-content;

}


.dropdown_item{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    padding: 8px;
    cursor: pointer;
    color: var(--header-color);
    border-radius: 8px;
}

.exit_wrapper{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
}

.dropdown_item:hover{
    background: var(--default-bg-hover);
}

.dots{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4px;
    font-size: 20px;
    font-weight: bold;
}

.logout_loader_wrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.display_none{
    display: none;
}

.dot_1, .dot_2, .dot_3{
    border: 2px solid var(--header-color);
    border-radius: 50%;
}

.dot_1{
    animation: first_dot 1s ease-in-out infinite;
}

.dot_2{
    animation: second_dot 1.2s ease-in-out infinite;
}

.dot_3{
    animation: third_dot 1.4s ease-in-out infinite;
}

@keyframes first_dot {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes second_dot {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes third_dot {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}