.ul_container{
    background: var(--modal-bg);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
}

.list_item{
    color: var(--modal-color);
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    border-radius: 8px;
    padding: 2px;
    cursor: pointer;

}

.list_item:hover{
    background: var(--default-bg-hover);
}

.active_item{
    background: var(--default-bg-hover);
}