.auth_btn{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(159, 11, 11);
    color: white;
    font-size: 20px;
    font-weight:bold;
    padding: 10px 0 10px 0;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}

.auth_btn:active{
    scale: 0.98;
}

.disabled{
    background: gainsboro !important;
    color: gray !important;
    cursor:not-allowed !important;
}

.loading{
    background: rgb(219, 77, 77) !important;
    cursor: not-allowed !important;
}

.auth_btn:hover{
    background:  rgb(219, 32, 32);;
}