.sorting_btn{
    border: 1px solid gray;
    outline: none;
    background: transparent;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
    font-size: 16px;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.disabled_sort_btn{
    pointer-events: none;
    opacity: 0.6;
}

.sort_wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.sort_order_wrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
    background: #ebeaea;
    padding: 6px;
    border-radius: 10px;
}

.sort_order_chip{
    padding: 4px 6px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.sort_order_chip_active{
    background: #2c2c30;
    color: #ffffff;
    pointer-events: none;
}

.sorting_btn:hover{
    background: gainsboro;
    color: #353535;
}

.dropdown{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
    position: absolute;
    left: -65px;
    top: 40px;
    background: white;
    border-radius: 8px;
    box-shadow: var(--default-box-shadow);
    z-index: 2;
    width: max-content;
    padding: 8px 0;
}

.list_item{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
    transition: all 0.2s linear;
    color: #000000;
    cursor: pointer;
    margin: 0 8px;
}

.list_item_active{
    pointer-events: none;
    background: gainsboro;
}

.list_item:hover{
    background: gainsboro;
}

.title{
    margin: 8px 0 0 0;
    color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 890px) {
    .dropdown{
        left: 0;
    }
}

@media screen and (max-width: 550px) {
    .sort_wrapper{
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: flex-start;
    }
}