.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    padding: 8px;
    color: var(--default-btn-color);
    cursor: pointer;
    min-width: 80px;
}

.btn:disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.3;
}


.cancel_btn:hover{
    scale: 1.02;
}

.cancel_btn:active{
    scale:0.98;
}

.submit_btn:hover{
    scale: 1.02;
}

.submit_btn:active{
    scale:0.98;
}


.cancel_btn{
    background: var(--cancel-btn-bg);
    
}

.submit_btn{
    background: var(--confirm-btn-bg);
}