.header_grid{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.my_day_span{
    font-size: 24px;
    font-weight: 500;
    color: var(--header-color);
}

.date_span{
    font-size: 14px;
    color: var(--default-color);
}


@media screen and (max-width: 400px) {
    .my_day_span{
        font-size: 20px;
    }
}