.btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(155, 155, 155);
    background: transparent;
    padding: 4px 6px 4px 6px; 
    border-radius: 4px;
    cursor: pointer;
    width: 185px;
}

.close_btn{
    position: absolute;
    top: 4px;
    right: 5px;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(45, 44, 44);
    font-size: 16px;
}

.display_none{
    display: none;
}