.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(155, 155, 155);
    background: transparent;
    padding: 4px 6px 4px 6px; 
    border-radius: 4px;
    cursor: pointer;
    width: 165px;
}
